/node_modules
/public/hot
/public/storage
/public/images/attendances/*
/public/images/absents/*
/public/images/visits/*
/public/media/*
/storage/*.key
/public/EMS TPM.apk
/Dokumen Pendukung
/vendor
/access-control-app/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

